target/
frontend/node_modules/
frontend/dist/
database/
.idea/
*.log
.DS_Store
.obsidian/
*.mp4
!frontend/public/*.mp4
!src/main/resources/static/*.mp4
!backend/src/main/resources/static/*.mp4
*.aac
short_vid_frames/
temp_frames/
temp_verify/
temp_verify2/
video_generator/

